<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список вопросов</title>
</head>
<body>

<h2>Список вопросов</h2>

<ul>
    {% for question in questions %}
        <li>
            <a href="{{ url_for('main_controller.question', question_id=question.id) }}">{{ question.text }}</a>
            <a href="{{ url_for('main_controller.result', question_id=question.id) }}">Результаты</a>
        </li>
    {% endfor %}
</ul>

</body>
</html>
