<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вопрос</title>
</head>
<body>

<h2>{{ question.text }}</h2>

<form action="/submit" method="post">
    <input type="text" name="user"><br><br>
    {% for option in question.options %}
        <input type="radio" id="option{{ option.id }}" name="response" value="{{ option.id }}">
        <label for="option{{ option.id }}">{{ option.text }}</label><br>
    {% endfor %}

    <input type="submit" value="Отправить ответ">
</form>

</body>
</html>
